
nav {
  a {
    transition: color 250ms ease-in-out, opacity 250ms ease-in-out, text-shadow 250ms ease-in-out;
    color: white;
  }

  @for $i from 1 to length($brandColoursList) {

    a:nth-child(n+#{$i}) {
      text-shadow: 0 0 0 nth($brandColoursList, $i);
    }

    a:nth-child(n+#{$i}):hover {
      color: nth($brandColoursList, $i);
      opacity: 0.8;
    }

    a:nth-child(n+#{$i}).is-active,
    a:nth-child(n+#{$i}):hover.is-active {
      text-shadow: 0 0 15px nth($brandColoursList, $i);
      color: nth($brandColoursList, $i);
      opacity: 1;
    }
  }
}