/*
  Styles Nuxt/Content content
*/

.nuxt-content {
  @apply mb-10;

	h1, h2, h3, h4, h5 {

		> a {
			position: relative;
			padding-left: 30px;

			&::before {
        transition: text-shadow 250ms ease-in-out;
        color: map-get($brandColours, 'info');
        vertical-align: top;
				text-align: center;
				position: absolute;
				font-weight: 400;
				height: 1.5rem;
				line-height: 1;
				content: "#";
				width: 100%;
				opacity: 1;
				left: 0;
				top: 0;
			}
		}

    &:hover a::before {
      text-shadow: 0 0 15px map-get($brandColours, 'info');
    }
	}

  h4 {
    @apply text-2xl mt-12 mb-3;
  }

  h5 {
    @apply text-xl mt-12 mb-3;
  }

  a {
    text-decoration: underline;
    position: relative;
  }

  // Code samples
  .nuxt-content-highlight .code-toolbar pre[class*="language-"] {
    @apply shadow-lg rounded-sm border border-gray-800 text-sm
  }

  code {
    @apply p-1 px-2 tracking-tight bg-gray-900 shadow-lg rounded-sm border border-gray-800 text-sm;
    background-color: #2d2d2d;
  }

  .nuxt-content-highlight {
    margin: 2em auto;
  }

  ul, ol {
    @apply list-disc p-0 ml-5 mb-5;

    li {
      @apply mb-2;
    }
  }
}
