// SCRIPTED PIXELS BRAND COLOURS
$orange:	hsl(20, 100%, 50%);
$green: hsl(100, 100%, 49);
$blue: hsl(205, 90%, 60%);
$purple: hsl(282, 100%, 50%);
$pink: hsl(326, 100%, 50%);
$red: hsl(360, 100%, 50%);
$grey: hsl(0, 0%, 15%);

$brandColours: (
  'danger': $red,
  'link': $blue,
  'success': $green,
  'primary': $purple,
  'info': $orange,
  'warning': $pink,
);

$brandColoursList: $red, $blue, $green, $purple, $orange, $pink;

:root {
  --brand-grey: #{$grey};
  --brand-grey--opaque: hsla(#{$grey}, 0.65);
  --brand-grey--light: hsla(0, 100%, 50%, 0.35);

  --brand-red: #{$red};
  --brand-blue: #{$blue};
  --brand-green: #{$green};
  --brand-purple: #{$purple};
  --brand-orange: #{$orange};
  --brand-pink: #{$pink};
}