@charset "utf-8";
@import "./variables";
@import "~bulma/bulma.sass";
@import "./fonts";

// NUXT PAGE TRANSITIONS
.page-enter-active,
.page-leave-active,
.layout-enter-active,
.layout-leave-active {
  transition: opacity 0.2s ease-in-out;
}

.page-enter,
.page-leave-to,
.layout-enter,
.layout-leave-active {
  opacity: 0;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

html,
body {
  min-height: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

.grid-container {
  grid-template-rows: 1fr 52px; // 52px is height of the header
  grid-template-areas:
  'content'
  'navigation';
  display: grid;
  height: 100vh;
}

.grid-content {
  grid-area: content;
}


.content pre {
  margin: 2em 0 4em;
}