@charset "utf-8";
@import "./variables";
@import "./fonts";
@import "./mainNavigation";
@import "./nuxt-content";

// NUXT PAGE TRANSITIONS
.page-enter-active, .page-leave-active,
.layout-enter-active, .layout-leave-active {
  transition: opacity 250ms;
}

.page-enter, .page-leave-to,
.layout-enter, .layout-leave-active {
  opacity: 0
}

html {
  background-color: var(--brand-grey);
  scroll-behavior: smooth;
  scroll-padding: 70px;
  @apply text-white;
  overflow: auto;
}

html,
body {
  @apply font-extralight;
  min-height: 100%;
}

strong {
  @apply font-semibold;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

.hidden {
  visibility: hidden;
  display: none;
}
